//============================================================
// Global Variables
//============================================================

$bodyFont = 'Helvetica', 'Arial', sans-serif
$textColor = #4A4A4A
$textlh = 1.9

$titleFont = 'Helvetica', Arial, sans-serif;
$titleFontLight = 'Helvetica',Arial, sans-serif;

//============================================================
// Font Awesome 4.7.0
//============================================================

$fa-font-path = 'bower_components/font-awesome-stylus/fonts'
$fa-font-size-base = 1rem

//============================================================
// Font
//============================================================

p()
	font-family: $bodyFont
	color: text-color
	line-height: $textlh
	

//============================================================
// Wrappers
//============================================================

div-wrapper(value)
	max-width: value
	width: 100%
	margin-left: auto
	margin-right: auto
	position: relative
	// padding-left: 2rem
	// padding-right: 2rem
		
	@media screen and ( max-width: (value+50)px )
		padding-left: 2rem
		padding-right: 2rem
	
	@media mobile
		max-width: 492px
		width: 100%
		min-width: 320px

absolute-full()
	position absolute
	top 0
	left 0
	width 100%
	height 100%	