/*!
Theme Name: WP Paris Template (Boilerplate)
Theme URI: http://miguel.nz/template
Author: Miguel Garrido
Author URI: http://miguel.nz/
Description: Laravel Mix,  ACF
Version: 1.0
*/

// Base
@require 'base/index'

// Variables, colors, functions, etc
@require 'global'

// Layout
@require 'layout/base'

// Partials
@require 'components/colours'
@require 'components/entry-content'
@require 'components/header'
@require 'components/footer'
@require 'components/forms'

// Pages
@require 'pages/front-page'