.content-form
  .field, .field-submit
    margin-bottom:1rem
  .text
    width 100%
    padding 0.5rem
  .submit
    padding 0.5rem 1rem
  .text, .submit
    font-size 1rem
    &:focus 
      outline 0

// Contact form 7 Ready
.wpcf7-not-valid 
    border 2px solid red
    & + span
      text-align left
      display: block
      padding: 0.5rem 0.75rem
      font-size 0.85rem
  .wpcf7-response-output
    margin-top:1rem
    padding 1rem
    position relative
    background rgba(white,0.3)
    &.wpcf7-display-none
      display: none
    &.wpcf7-validation-errors
      background red
    &.wpcf7-validation-errors
      background red
    &.wpcf7-mail-sent-ok
      background blue