html, body
  margin:0
  padding:0
  min-height:100%
  width:100%

body
  font-family:$bodyFont
  color: #111
  font-size: 1rem
  font-smooth: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: greyscale
  line-height textlh
  @media mobile
    min-width:rem(420px)

// Content
.content-wrapper
  div-wrapper(960px)
  padding-top:2rem
  padding-bottom:2rem

.bgwhite a
  color blue
  text-decoration underline