/*!
Theme Name: WP Paris Template (Framework)
Theme URI: http://miguel.nz/template
Author: Miguel Garrido
Author URI: http://miguel.nz/
Description: Laravel Mix, Stylus, ACF
Version: 1.0
*/

// Framework
@require 'stylus/framework/index'

// Variables, colors, functions, etc
@require 'stylus/global'


// Layout
@require 'stylus/layouts/base'  

// Components
@require 'stylus/components/colours'

// Partials
@require 'stylus/components/entry-content'
@require 'stylus/components/header'
@require 'stylus/components/footer'
@require 'stylus/components/index'
@require 'stylus/components/forms'