/*!
Theme Name: WP Paris Template (Boilerplate)
Theme URI: http://miguel.nz/template
Author: Miguel Garrido
Author URI: http://miguel.nz/
Description: Laravel Mix, Stylus, ACF
Version: 1.0
*/

// Base
@require 'stylus/base/index'

// Variables, colors, functions, etc
@require 'stylus/global'

// Layout
@require 'stylus/layout'

// Partials
@require 'stylus/components/colours'
@require 'stylus/components/entry-content'
@require 'stylus/components/header'
@require 'stylus/components/footer'
@require 'stylus/components/forms'

// Pages
@require 'stylus/pages/front-page'